<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索</title>
</head>
<body style="text-align: center;font-family: -apple-system, BlinkMacSystem\
    Font, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helve\
    tica Neue', sans-serif;">
    <h1>文件搜索的测试页面</h1>
    <form action="/test/post_search" method="POST">
        {%csrf_token%}
        <input type="search" name="search_string" placeholder="想知道什么呀">
        <input type="submit" value="搜索">
        <br><br>
    </form>
    {%if search_result%}
        <p>噢，你想搜索的是 {{search_result}}</p>
    {%endif%}
    <input type="button" value="返回主界面" onclick="location.href='/test'">
</body>
</html>