<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestingWeb</title>
</head>
<body style="text-align: center;font-family: 'Microsoft Yahei', 微软雅黑;">
    {# % load my_tag % #}
    {%block reuse%}
    <h1>
        欢迎访问
    </h1>
    <ul>
        <li><!-- style="text-align: left;" -->
            点击<a href="/test/echo">此链接</a>，前往测试页面
        </li>
        <li>
            点击<a href="/test/post_search">此链接</a>，前往搜索页面
        </li>
        <li>
            点击<a href="" target="_black">此链接</a>，复制本页面
        </li>
    </ul>
    {# % my_html "zzz" "xxx" % #}
    {%endblock%}
</body>
</html>